.personal__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding: 50px 20px;
}

.personal__imagen {
    background-image: url(../img/avatarPersonal.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 297px;
    height: 297px;
}

.borde{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border-top: 3.2px solid #a8cd64;
    border-left: 3.5px solid #c4f864;
    border-right: 3.5px solid  #c4f864;
    border-bottom: 3.2px solid #a8cd64;
    animation: spinner-imagen 5s linear infinite; 
    filter: blur(8px); 
}


.personal__contenido {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.personal__principal {
    color: var(--acento-primario);
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.personal__parrafo {
    color: var(--font-principal);;
    font-weight: 400;
    font-size: 22px;
    line-height: 45px;
}

.personal__ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.personal__li {
    margin-right: 3rem;
    color: var(--font-principal);

}

.personal__a {
    text-decoration: none;
    color: var(--font-principal);
}

/* Sobre mi */

.sobreMi__container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.sobreMi__titulo {
    color: var(--acento-primario);
    font-size: 32px;
    padding: 32px;
    text-transform: uppercase;
    
}

.sobreMi__parrafo {
    text-align: justify;
    line-height: 50px;
    color: var(--font-principal);
    padding: 3% 7%;
}

/* skills */
.habilidades__container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;

}

.habilidades__titulo {
    color: var(--acento-primario);
    padding: 32px;
    font-size: 32px;
    text-transform: uppercase;
}

.habilidades__ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
}

.habilidades__cards {
    width: 100%;
}

.habilidades__li {
    display: flex;
    flex-direction: column;
    color: var(--font-principal);
    background: linear-gradient(-40deg, #579486, #3AC7A6, #44624A, #6E3058, #8F5794 );
    animation: gradiente 7s ease infinite;
    background-size: 450% 450%;
    /* border-radius: 25px 40px 25px 0px; */
    border-radius:29% 71% 29% 71% / 100% 0% 100% 0% ;
    width: 15%;
    margin: 3%;
    height: 170px;
    font-weight: 700;
    padding: 0 0 15px 20px;
}

.habilidades__li>i {
    font-size: 2.5rem;
    color: var(--font-secundario);
    margin-bottom: 1rem;
    height:100%;
    display:flex;
    align-items: flex-end;
}

/* formacion academica */

.training__container {
    display: flex;
    height: 50vw;
    flex-direction: column;
    justify-content: center;
}


.training__titulo {
    color: var(--acento-primario);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.training__section {
    display: flex;
    margin: 3vw auto;
    justify-content: space-around;
    width: 100%;
}

.training__academic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.training__academic>img {
    width: 450px;
    border-radius: 10px;
    background-color: var(--font-secundario);
    height: 100%;
    border: 1px solid var(--font-secundario);
}

.training__pTitulo {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: var(--font-principal);
}

.training__pDescripcion{
    color: var(--font-secundario);
}


/* experiencias */

.experiencia__container {
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.experiencia__titulo {
    color: var(--acento-primario);
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.experiencia__section {
    display: flex;
    margin: 2rem;
    flex-wrap: wrap;
}

.experiencia__item {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2rem;
}


.carousel__descripcion {
  height: auto;  
}

.experiencia__carousel>img {
    width: 100%;
    height: 350px;
    object-fit:contain;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 2.5px var(--acento-primario));
}


.carousel__titulo{
    color: var(--font-principal);
}
.carousel__parrafo{
    color: var(--font-secundario);
}

.carousel__parrafo >a{
    text-decoration: none;
    color: var(--acento-primario);
}



@media only screen and (max-width: 768px) and (orientation: landscape) {
    .personal__container{
        padding:0 2px;
    }

    .personal__imagen{
        width: 20%;
    }
    .personal__contenido{
        width: 30%;
    }

   .personal__principal{
    font-size: 30px;
    }   
    .personal__li{
    margin-right: none;
    }

}
   


@media screen and (max-width: 768px) {
    /* Informacion personal */

    .personal__container {
        height: 50vw;
        margin-top: 0;
    }

    .personal__contenido {
        width: 70%;
    }

    .personal__imagen {
        width: 200px;
        height: 200px;
    }

    .borde{
        width: 190px;
        height: 190px;
    }

    .personal__principal {
        font-size: 22px;
        line-height: 26px;
    }

    .personal__parrafo {
        font-size: 16px;
        line-height: 19px;
        margin: 2rem auto;
    }

    /* training */
    .training__container {
        padding: 15px;
    }

    .training__section {
        margin: 0;
    }

    .training__academic>img {
        width: 270px;
    }

    .personal__ul {
        justify-content: flex-start;
    }

    .personal__li {
        margin-right: 1rem;
    }

    /* sobre mi */
    .sobreMi__parrafo {
        line-height: 30px
    }

    .sobreMi__container {
        padding: 20px 50px;
    }

    /* skills */
    .habilidades__titulo {
        padding: 0;
    }

    .habilidades__li {
        width: 40%;
    }

    /* experiencias */
    .experiencia__section {
        margin: 0;
    }
    .experiencia__item{
        width: 100%;
    }
}



@media screen and (max-width: 570px){
    .personal__container {
        height: auto;
        flex-direction: column;
        justify-content:center;
    }

    .personal__contenido{
        width: 100%;
    }
    .personal__ul{
        justify-content:center;
    }
    .personal__li{
        margin-right: 6px;
    }

    .sobreMi__container{
        padding:0;
    }

    .habilidades__container{
        width: 100%;
        padding:0;
    }
    
    .habilidades__li {
        width: 39%;
    }

    .habilidades__li > i{
        font-size: 2.5rem;
    }

    .training__container {
        height: auto;
    }

    .training__section {
        flex-direction: column;
    }

    .training__academic>img {
        width: 100%;
    }

    .training__descripcion{
        margin: auto 1rem;
    }

    .experiencia__container {
        padding: 10px;
    }

    .experiencia__titulo {
        text-align: center;
    }

    .experiencia__item {
        flex-direction: column;
        width: 100%;
        margin: 2rem auto;
    }

    .experiencia__carousel {
        width: 100%;
    }

    .carousel__titulo {
        text-align: center;
    }

    .carousel__descripcion {
        width: 100%;
        margin: 0;
    }
}


@media screen and (max-width: 380px) {

    /* personal */
    .personal__container {
        height: auto;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
    }

    .personal__imagen {
        width: 170px;
        height: 170px;
        margin: auto;
    }

    .borde{
        width: 100%;
        height: 100%;
    }

    .personal__contenido {
        width: 100%;
    }

    .personal__parrafo{
        line-height: 25px;
    }

    .personal__ul {
        justify-content: space-between;
    }

    .personal__li {
        font-size: 12px;
    }

    /* sobre mi */
    .sobreMi__titulo{
        padding: 10px;
    }
    .sobreMi__container {
        padding: 5px 5px;
        z-index: 5;
    }

    .sobreMi__parrafo {
        line-height: 26px;
    }

    .sobreMi__titulo {
        text-align: center;
    }

    /* skills */
    .habilidades__container {
        padding: 1%;
    }

    .habilidades__li {
        width: 39%;
    }


    /* training */
    .training__container {
        height: auto;
    }

    .training__section {
        flex-direction: column;
    }

    .training__academic>img {
        width: 100%;
    }

    .training__descripcion{
        margin: auto 1rem;
    }


    /* experiencias */
    .experiencia__container {
        padding: 10px;
    }

    .experiencia__titulo {
        text-align: center;
    }

    .experiencia__item {
        flex-direction: column;
        margin: 2rem auto;
    }

    .experiencia__carousel {
        width: 100%;
    }

    .carousel__titulo {
        text-align: center;
    }

    .carousel__descripcion {
        width: 100%;
        margin: 0;
    }
}