
:root {
  --background-secundario: #d6e2e2;
  --background-principal: #252525;
  --font-principal: #e2e2e2;
  --font-secundario: #9c9c9c;
  --acento-primario: #44624a;
  --color-shadow: #585858;

}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background-color: var(--background-secundario);
}

::-webkit-scrollbar-thumb {
  background-color: var(--acento-primario);
  border-radius: 2rem;
}


/* Hover */

.nav__li:hover{
  transition: all 0.5s;
  transform: scale(1.2);
}

.habilidades__li:hover {
  cursor: pointer;
  color: var(--font-principal);
  background-color: var(--acento-primario);
  filter: drop-shadow(2px 4px 8px var(--acento-primario));
  transition: all 0.5s;
  transform: scale(1.1);
}

.habilidades__li>i:hover{
  color: var(--font-principal);
}


.personal__li>a:hover {
  font-weight: bold;
  color: var(--acento-primario);
  filter: drop-shadow(2px 4px 8px var(--color-shadow));
}